.options-container {
  width: 343px;
  height: 176px;
  margin: 18px 16px;
  
  a {
    display: flex;
    align-items: center;
    height: 88px;
    padding: 8px 16px;
    color: black;
  }

  .option-box {
    width: 256px;

    p {
      &:nth-child(1) {
        font-weight: 500;
        margin-bottom: 4px;
      }

      &:last-child {
        font-size: 13.5px;
      }
    }
  }

  img {
    flex-grow: 2;
    width: 24px;
    height: 24px;
  }
}