#container {
  background-color: #050D40;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  .perfil {    
    width: 30px;
    height: 30px;
    margin: 10px 0;
    padding-top: 5px;
    border-radius: 25px;
    background-color: #ffffff83;
  }

  .config {
    width: 30px;
  }
}

